html {
    min-height: 100vh;
}

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    background: radial-gradient(#96595f, #e4d4d5);
    margin: 0;
    cursor: pointer;
}

.page-title {
    font-size: 6em;
    font-family: 'Zen Tokyo Zoo', sans-serif;
    color: #7c2f37;
    text-align: center;
    font-weight: normal;
    margin-bottom: 50px;
}

.game-container {
    display: grid;
    margin: 0;
    grid-template-columns: repeat(2, 8rem);
    grid-template-rows: 10rem 2rem 10rem;
    gap: .5rem;
    justify-content: center;
}

.deck {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    font-size: 3rem;
    font-family: fantasy;
    color: #7c2f37;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border-width: 5px;
    user-select: none;
}

.robot-deck {
    background-color: blanchedalmond;
}

.challenger-deck {
    background-color: #7c2f37;
    color: black;
}

.result {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: 15px;
    border-width: 5px;
    background-color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.card::before,
.card::after {
    content: attr(data-value);
    font-size: 1.5rem;
    position: absolute;
}

.card::before {
    top: .5rem;
    left: .5rem;
}

.card::after {
    bottom: .5rem;
    right: .5rem;
    transform: rotate(180deg);
}

.card.red {
    color: red;
}

.card.black {
    color: black;
}