body {
    font-family: 'Zen Tokyo Zoo', sans-serif;
    margin: 0;
    background: radial-gradient(#96595f, #e4d4d5);
}

.page-title {
    color: #7c2f37;
    font-family: 'Zen Tokyo Zoo', sans-serif;
}